.qna-table {
    width: 100%;
    color: #fff;
    border-top: 2px solid #8a56bd;
    border-collapse: collapse;
}

.qna-table th {
    height: 20px;
    font-size: 16px;
    border-bottom: 1px solid #56575f;
    padding: 13px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #3d3d49;
}
.qna-table th:first-child {
    width: 20%;
}

.qna-table td {
    height: 45px;
    font-weight: 500;
    color: #c1c1c1;
    font-size: 14px;
    border-bottom: 1px solid #3e3f46;
    border-left: 0;
    cursor: pointer;
    background: #322b40;
}

.qna-table td:nth-child(2) {
    color: #fff;
    font-weight: 600;
}


.qna-table  tr:hover td {
    background: #2b2536;
    /* border-bottom: 1px solid #e73b54; */
}

.no-hover:hover {
    background: #322b40!important;
}

.qna-table td  button {
    font-size: 18px;
    width: 49px;
    height: 27px;
    padding: 0;
    line-height: 27px;
    font-size: 13px;
    color: #e73b54 !important;
    background: #1f1f25;
    border: 0;
    border-radius: 3px;
}

.footer-button-qna {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-button-qna  button {
    min-width: 114px;
    height: 46px;
    line-height: 46px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 16px;

    border-radius: 5px;
    padding: 0 15px;
    border: none;
    font-weight: 600;
}

.qna-delete {
    background: #56575b;
    color: #fff !important;
}

.qna-quick {
    background: #ff009c;
    color: #fff !important;
}

.qna-write {
    background: #4f09b7;
    color: #fff !important;
}

.table-memo-content {
    padding: 10px 20px;
    font-size: 12px;
}

.qna-message-header-block {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;
    border-bottom: 1px solid #56575f;
}

.qna-message-header-block  img {
    width: 30px;
    margin-right: 10px;
}
.qna-message-header-block span {
    margin-right: 10px;
}
.qna-message-header-block span:last-child {
    margin-left: auto;
}

.qna-message-header-block:last-child {
    border-bottom : none;
}


.qna-message-content {
    padding: 20px;
    background: #3a3b42;
    border-top: 2px solid #8a56bd;
    color: #fff;
    font-family: 'ns';
    font-size: 14px;
    margin-top: 5px;
    min-height: 88px;
    margin-bottom: 20px;
}

.qna-writing {
    background: transparent;
    font-size: 15px;
    color: #fff;
    outline: none;
    border: 0;
    padding-left: 20px;
    

}

textarea.qna-writing  {
    width: 100%;
    box-sizing: border-box;
    height: 300px;
}